/// Removing the iOS telephone and address styling
/// @type Boolean
$normalize-remove-ios-blue: true !default;

@mixin base-normalize {
  #outlook a {
    padding: 0;
  }

  body {
    width: 100% !important;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    Margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body.outlook p {
    display: inline !important;
  }

  .ExternalClass {
    width: 100%;

    &,
    p,
    span,
    font,
    td,
    div {
      line-height: 100%;
    }
  }

  #backgroundTable {
    margin: 0;
    Margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
  }

  img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%;
    clear: both;
    display: block;
  }

  center {
    width: 100%;
    min-width: $global-container-width;
  }

  a img {
    border: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    border-collapse: collapse !important;
  }

  table, tr, td {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    vertical-align: top;
    text-align: left;
  }

  // Removing the iOS colors put in for telephone and addresses
  @if $normalize-remove-ios-blue {
    // Wrapping in a media only screen to have inline-css respect the styling
    @media only screen {
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
    }
  }
}
